.form-group {
  margin-bottom: 10px;
}

.form-group label {
  display: block;
  font-size: 18px;
  margin-bottom: 5px;
}

.form-group textarea {
  font-size: 16px;
  padding: 10px;
  width: 300px;
  height: 150px;
}

.submit-btn {
  padding: 10px 20px;
  font-size: 16px;
}

#result {
  margin-top: 10px;
  font-size: 16px;
}